body{font: 14px 'Microsoft Yahei', 'PingFang SC', 'Avenir', 'Segoe UI', 'Hiragino Sans GB', STHeiti, 'Microsoft Sans Serif', 'WenQuanYi Micro Hei', sans-serif; font-size: 14px;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote,p{padding:0; margin:0; color:#2b2b2b;}
table,td,tr,th{font-size:14px;}
li{list-style-type:none;list-style:none;}
table{ margin:0 auto;border-spacing:0; border-collapse:collapse; }
img{border:0;}
ol,ul {list-style:none;}
caption,th {text-align:left;}
q:before,q:after {content:'';}   
abbr,acronym {border:0;}
address,caption,cite,code,dfn,em,th,var {font-weight:normal; font-style:normal;}   
a{text-decoration: none; color: #333;}
a:hover{text-decoration: none; color: #0e6ec7;}
*{outline:none}
html .container{width: 1200px;}

.pd20{padding: 20px;}

#header{padding: 10px 0;}
#header .navbar-nav>li>a{padding:0;}

.top-navbar .navbar-nav>li>a{padding-top: 5px; padding-bottom: 5px;}
.top-navbar{min-height: auto; border-top: 0;}

.cma-navbar{background-color: #3e77ab;}
.cma-navbar a{color: #fff; font-size: 20px; text-align: center;padding: 0;display: block; float: left; height: 50px; line-height: 50px;}
.cma-navbar a:hover{background-color: #15618c; color: #f4f7f8;}

.searchForm{position: relative;}
.searchForm input{height: 38px; line-height: 38px; width: 300px; padding: 0 10px; margin: 0; border: 1px solid #cecece;outline:none; color: #666; float: left; border-right: 0;}
.searchForm .icon-search{height: 38px; line-height: 38px; padding: 0 10px; color: #1b6097;  border: 1px solid #cecece; border-left:0; font-size: 24px; display: inline-block;}
#selectCityDiv{position: absolute; top: 38px; left: 0; right: 0; left: 0; z-index: 999999999; font-size: 12px; background-color: #fff; overflow: hidden; border: 1px solid #c2d0e7; max-height: 400px; overflow-y: scroll;}
.ac_results {padding: 0px; box-shadow:2px 2px 2px #666; background-color: white; overflow: hidden; z-index: 999999999; margin-left: 0;}
.ac_results ul {width: 100%; list-style-position: outside; list-style: none; padding: 0; margin: 0;}
.ac_results li {margin: 0px; padding: 2px 5px; cursor: default; display: block; font: menu; font-size: 12px; line-height: 28px; overflow: hidden;}
.ac_loading {background: white url('indicator.gif') right center no-repeat;}
.ac_odd {}
.ac_over {background-color: #f2f2f8;}
.ac_results strong {color:red;}

.mt15{margin-top: 15px;}
.xml p{text-indent: 2rem;}
.xml-title{font-size: 18px; padding: 10px 0;}
.xml-sub-title{font-size: 16px; padding: 10px 0;}
.img-num{margin-bottom: 20px;}



.hp{border: 1px solid #d5d5d5;/* box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); */position: relative;}
.hd{background-color:#f8f8f8; border-bottom: 1px solid #d5d5d5; height: 50px; line-height: 50px; font-size: 18px; color: #333; padding: 0 10px;  font-weight: bold;}
.hd-1{background:url("../static/img/bg_02.jpg") center center no-repeat; background-size: cover; font-size: 24px; height: 80px; line-height: 80px; font-weight: bold; color: #fff; padding: 0 20px;}
.hd span{display: inline-block; margin-right: 15px;}
.hd span.line{border-bottom: 3px solid #65b3fc; height: 37px; line-height: 37px;}
.hd .more{float: right; font-size: 14px; color: #999;}
.hb{padding: 15px 10px; position: relative; margin: 0;}
.item{background: url("../img/dian.png") no-repeat left center; display: block; padding-left: 10px; height: 26px; line-height: 26px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.newitem{background: url("../img/dian.png") no-repeat left center; display: block; padding-left: 10px; height: 30px; line-height: 30px; font-size: 14px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.pic{display: block;  border: 1px solid #f6f6f6; position: relative; overflow: hidden;}
.pic img{width:100%; -webkit-transition: all .5s; -moz-transition: all .5s; -o-transition: all .5s; transition: all .5s;}
.pic:hover img{transform:scale(1.2);}
.remarks{background: #f2f2f2; height: 30px; line-height: 30px; text-align: center; color: #fff; font-size: 16px; position: absolute; left: 0; right: 0; bottom: 0;background: rgba(0, 0, 0, 0.3);}


.bgitem div{padding: 0 10px;}
.bgitem .item{background: #EBEFF8; margin-bottom: 5px; padding-left: 0; text-align: center; color: #36B;}

.icon_rmcs{background: #f8f8f8 url("../img/icon_rmcs.png") no-repeat 15px center; padding-left: 60px;}
.icon_alarm{background: #f8f8f8 url("../img/icon_alarm.png") no-repeat 15px center; padding-left: 60px;}
.icon_radar{background: #f8f8f8 url("../img/icon_radar.png") no-repeat 10px center; padding-left: 55px;}
.icon_tqgb{background: #f8f8f8 url("../img/icon_tqgb.png") no-repeat 15px center; padding-left: 60px;}
.icon_tqzx{background: #f8f8f8 url("../img/icon_tqzx.png") no-repeat 15px center; padding-left: 60px;}
.icon_weather{background: #f8f8f8 url("../img/icon_weather.png") no-repeat 15px center; padding-left: 60px;}
.icon_wxyt{background: #f8f8f8 url("../img/icon_wxyt.png") no-repeat 10px center; padding-left: 55px;}
.icon_zt{background: #f8f8f8 url("../img/icon_zt.png") no-repeat 15px center; padding-left: 50px;}
.icon_fzkp{background: #f8f8f8 url("../img/icon_fzkp.png") no-repeat 15px center; padding-left: 50px;}
.icon_yjgl{background: #f8f8f8 url("../img/icon_yjgl.png") no-repeat 10px center; padding-left: 55px;}
.icon_zjjd{background: #f8f8f8 url("../img/icon_zjjd.png") no-repeat 15px center; padding-left: 50px;}
.icon_gjtq{background: #f8f8f8 url("../img/icon_gjtq.png") no-repeat 10px center; padding-left: 55px;}
.icon_gntq{background: #f8f8f8 url("../img/icon_gntq.png") no-repeat 10px center; padding-left: 55px;}
.icon_qxyj{background: #f8f8f8 url("../img/icon_qxyj.png") no-repeat 10px center; padding-left: 55px;}

.nav-menu .hb a{display: block; border-bottom: 1px dotted #f6f6f6; font-size: 16px; height: 40px; line-height:40px;  text-align: center;}
.nav-menu .hb a.actived{ color: #3e77ab; font-weight: bold; border-bottom: 1px solid #3e77ab;}

.pageheader{background-color: #fff; padding-bottom: 20px;}
.ptitle{font-size: 24px; color: #235ea1; border-bottom: 3px solid #3e77ab; padding: 0 20px; height: 60px; line-height:60px; text-align: center; /* background: #fff url(../img/bg_03.png) right top no-repeat; */}
.menuwrap{background-color: #fff; padding-bottom: 10px;}
.s-menu{line-height: 24px; padding: 15px; border: 1px solid #e2e2e2; background-color: #f8f8f8;}
.s-menu .p-wrap{border: 0; background: transparent; padding: 0;}
.dropdown-menu-column-2{width: 242px;}
.dropdown-menu-column-2 li{float: left; width: 80px;}
.dropdown-menu-column-2 li a{white-space: nowrap; overflow: hidden; text-overflow: ellipsis; text-align: center;padding: 3px 15px;}

.product{display: block;}
.product img{width: 100%;}
.plist a{color: #999; margin-bottom: 5px; display: block;}

/* .dropdown-menu{max-height: 300px; overflow-y: scroll;} */

/* 焦点图效果 412 550 */
#demo2{ width:100%; border:1px solid #eee; padding:5px;  position:relative;  overflow:hidden;  zoom:1; background-color:#f4f4f4;}
#demo2 .hd{width:230px; height:420px;; position:absolute; right:5px; overflow:hidden; padding: 0;border: 0;}
#demo2 .hd ul li{ text-align:center; padding:5px; background-color:#e3ebf7; margin-bottom:10px;}
#demo2 .hd ul li:last-child{margin-bottom:0;}
#demo2 .hd ul li img{ width:106px; height:87px; cursor:pointer; vertical-align:bottom; }
#demo2 .hd ul li a{text-decoration: none;}
#demo2 .hd ul li.on{ background-color:#4989c6; }
#demo2 .hd ul li a div.li-title{ color:#333; height:87px; line-height:normal; font-size: 16px; font-weight: normal; text-align: left; display: table-cell; vertical-align: middle;}
#demo2 .hd ul li.on a div.li-title{ color:#fff; height:87px;}
#demo2 .bd{ width:516px; position:relative;  }
#demo2 .bd ul{margin-bottom:0;}
#demo2 .bd li{ position:relative; zoom:1; vertical-align:middle;}
#demo2 .bd li .pic{ width:516px; height:420px;; position:relative; z-index:0;  }
#demo2 .bd li .pic a{display:block; width:100%; height:100%; text-align:center;}
#demo2 .bd li .pic img{ width:516px; height:420px;; vertical-align:bottom; }
#demo2 .bd li .bg{ width:516px; height:30px; position:absolute; left:0; bottom:0; z-index:1;  background:#000; filter:alpha(opacity=60);opacity:0.6;    }
#demo2 .bd li .title{ width:516px; height:30px; line-height:30px; left:0; bottom:0;   position:absolute; z-index:2;  }
#demo2 .bd li .title a{ color:#fff; padding-left:15px;  }

.imgblock{text-align: center;}
#imgPath{width: 100%;}

.zt-item{margin-bottom: 25px; display: block;}
a.zt-item:hover{transform: translateY(-6px); -webkit-transform: translateY(-6px); -moz-transform: translateY(-6px); box-shadow: 0 26px 40px -24px rgba(0, 36, 100, 0.3); -webkit-box-shadow: 0 26px 40px -24px rgba(0, 36, 100, 0.3); -moz-box-shadow: 0 26px 40px -24px rgba(0, 36, 100, 0.3); -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease;}
.cma-media{height: 64px; overflow: hidden; font-size: 14px; line-height: 22px;}
.cma-media-wrap{border-bottom:1px solid #ddd; padding: 10px 0;}
.cma-media-wrap:last-child{border-bottom: 0;}


.xml p{padding-bottom: 20px; font-size: 16px; line-height: 28px; text-indent: 32px;}

.areaheader{font-size: 18px; padding-top: 20px;}
.provincetable{background-color: #fdfdfd; border: 1px solid #d5d5d5; margin-bottom: 20px; padding: 20px 0;}
.provincetable dl{overflow: hidden; padding: 5px 10px;}
.provincetable dl dt{float: left; color: #a1a1a1; margin-right: 10px; width: 50px; text-align: right;}
.provincetable dl dd{float: left; color: #333; margin-right: 10px;}

.bgwhite{background: #f8f8f8; /* border: 1px solid #f5f5f5;  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); */}
.p-wrap{padding: 8px 10px; border: 1px solid #d5d5d5;}
.p-wrap .pmenu-wrap .pmenu{float: left; margin-left: 5px;}
.p-wrap .pmenu-wrap .pmenu .btn-default{color: #333; border-color: #d7d7d7; border-radius: 0;}
.p-wrap .pmenu-wrap .pmenu .btn-default .label-name{color: #333;}
.p-wrap .pmenu-wrap .pmenu .dropdown-menu>li>a:focus, .p-wrap .pmenu-wrap .pmenu .dropdown-menu>li>a:hover{background-color: #235ea1; color: #fff;}
.p-wrap .pmenu-wrap .open > .dropdown-menu{border-radius: 0;}

#breadcrumb{margin-bottom: 10px; background: transparent; border-bottom: 1px solid #d5d5d5; border-radius: 0;}
#breadcrumb a,#breadcrumb span{color: #a0a0a0;}

.order{overflow: hidden; display: block;}
.order div{float: left; height: 28px; line-height: 28px;}
.order div.rank{width: 40px; text-align: center;}
.order div.sname{width: 110px; text-align: center;}
.order div.pname{width: 90px; text-align: center;}
.order div.value{width: 110px; text-align: right; padding: 0 10px;}

.order:hover div{color: #4989c6;}
.order:hover div.rank{margin: 4px 10px; width: 20px; height: 20px; line-height: 20px; text-align: center; background-color: #4989c6; color: #fff;}

.popup-table {width: 100%;}

.describe{font-size: 12px; color: #666; text-align: center;  border-top: 1px solid #ddd; height: 24px; line-height: 24px;}
.hb .nav-tabs.tabrank>li{width: 25%;}
.hb .nav-tabs.tabrank>li>a, .hb .nav-tabs.tabrank>li.active>a, .hb .nav-tabs.tabrank>li.active>a:focus, .hb .nav-tabs.tabrank>li.active>a:hover{font-weight: bold; color: #333; padding: 10px 5px; text-align: center;}
.hb .nav-tabs.tabrank>li.active>a, .hb .nav-tabs.tabrank>li.active>a:focus, .hb .nav-tabs.tabrank>li.active>a:hover{border-bottom: 2px solid #4989c6;}

.order-header div, .order-header:hover div{color: #707070; font-weight: normal;}
.order-header:hover div.rank,.order-header div.rank{margin: 0; width: 40px; height: 28px; line-height: 28px; background-color: transparent;color: #707070; font-weight: normal;}

/**文字产品样式**/
#text {padding: 10px; min-height: 400px;}
#text table tr td,#text table tr td a{font-size: 14px; padding: 10px;}
#text .title {color: red; font-size: 34px; font-weight: bold; margin: 10px auto; text-align: center; height: 40px; line-height: 40px;}
#text .title a{color: red; font-size: 34px; font-weight: bold;}
#text .subhead {font-size:18px; font-weight: bold; text-align: center; padding-bottom: 10px;}
#text .subhead a{font-size:18px; font-weight: bold;}
#text .author {font-size: 14px; padding: 10px 0; text-align: center;}
#text .writing p {font-size: 16px; line-height: 32px; text-align: justify; text-indent: 2em;}
/**文字产品样式**/

/**标签样式1**/
.tab1{background-color: #f2f2f2; border: 1px solid #ddd;}
.nav-tabs.tab1>li.active>a, .nav-tabs.tab1>li.active>a:focus, .nav-tabs.tab1>li.active>a:hover{border-top: 3px solid #4f87a8;border-bottom: 0;}
.nav-tabs.tab1 > li > a:hover {border-color: #eee #eee #eee; border-bottom: 0;}
.nav-tabs.tab1>li>a{border-radius: 0;}
/**标签样式1**/

.tab2{background-color: #fff; border: 0;}
.nav-tabs.tab2>li.active>a, .nav-tabs.tab2>li.active>a:focus, .nav-tabs.tab2>li.active>a:hover{border:0; border-bottom: 2px solid #4f87a8; padding: 10px; color: #4f87a8; font-weight: bold; }
.nav-tabs.tab2 > li > a:hover {border-color: #eee #eee #eee; border-bottom: 0;}
.nav-tabs.tab2>li>a{border-radius: 0; color: #999; padding: 10px; font-weight: bold;}


.citylist .city{padding-left: 5px; padding-right: 5px;}
.citylist .city a{display: block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; height: 26px; line-height: 26px;}

/**城市文字列表***/
.day-table{width: 100%; border-collapse: collapse;}
.day-table thead{background-color: #f9f9f9;}
.day-table th, .day-table td{border: 1px solid #d5d5d5; text-align: center; padding: 10px; }
.day-table tbody tr.odd{background-color: #f7f7f7;}
.day-table tbody tr.actived, .day-table tbody tr:hover{background-color: #ddefff;}

.province-list {padding: 10px; border-bottom: 2px solid #d0d0d0;}
.province-list .province-item{padding: 5px 20px; display: inline-block; text-align: center;}
.province-list .province-item.actived{background-color: #4989c6; color: #fff;}

.city-list{padding: 10px; background-color: #fdfdfd;}
/**城市文字列表***/

/***预警地图***/
#matTitle{position: absolute; top: 10px; left: 50%; width: 300px; margin-left: -150px; z-index: 999; text-shadow: 0 2px 2px #fff; font-size: 26px; color: #4989c6;}
#mapSidebar{position: absolute; right:10px; top:10px; z-index: 999; width: 34px; height: 34px; line-height: 34px; background-color: #4989c6; text-align: center; cursor: pointer;}
#mapSidebar .icon-list{color: #fff;}
.open #mapSidebar{right: 400px;}
#mapbar{position: absolute; left: 50px; top: 10px; z-index: 999;}
.cma-popup .leaflet-popup-content-wrapper{border-radius: 0;}
.cma-popup .leaflet-popup-content{padding: 0; margin: 0;}
.cma-popup-title{height: 34px; line-height: 34px; background-color: #4989c6; color:#fff; padding: 0 10px;}
.cma-popup .cma-popup-content{padding: 10px; font-size: 14px; line-height: 22px;}
.cma-popup .cma-popup-content .alarm-description{margin-top: 15px;}

#pcodeList .checkbox{padding: 0; margin: 5px 0;}
#mapbar .btn-primary{background-color: #4989c6; border-color: #4989c6;}

#alarmList{border-radius: 0;  padding: 15px;border: 1px solid #f5f5f5; box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);}
#alarmList a{display: block; height: 24px; line-height: 24px; margin: 5px;white-space: nowrap; overflow: hidden; text-overflow: ellipsis; color: #333;}
#alarmList a img{height: 24px; padding-right: 10px;}
#map .leaflet-sidebar{width: 390px; padding: 0;}
/***预警地图***/

/**播放条**/
.mytoolbar {background: #414141; color: #fff;}
.mytoolbar .progress{margin-bottom: 0;border-radius: 0; height: 5px;}
#toolbar {padding: 15px;}
#toolbar i{font-size: 32px; color: #fff;-moz-user-select:none; -webkit-user-select:none; -ms-user-select:none; -khtml-user-select:none; user-select:none; cursor: pointer;}
#toolbar i:hover{color: #45b2f5;}
.progress-bar-success{background-color: #45b2f5;}
/**播放条**/

.zt-item img{width:100%; height: 175px;}
.zt-item div{height: 30px; line-height: 30px;  white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.zt-item:hover{}

.report-item{border-bottom: 1px solid #eee;display: block; padding-bottom: 10px;}
.report-item:last-child{border-bottom: 0; padding-bottom: 0;}
.report-title{font-size: 16px; color: #333; height: 32px; line-height: 32px; }
.report-content{color: #666; font-size: 14px; line-height: 22.5px; margin: 0;height: 90px; overflow: hidden;}
.data-desc{color: #666;}
.report-content img{height: 90px; margin-left: -10px;}

/*预警*/
.alarm-item{height: 30px; line-height: 30px; padding: 0 10px;}
.alarm-item img{height: 24px; margin-top: -3px;}
.alarm-title{white-space: nowrap; overflow: hidden; text-overflow: ellipsis; display: block;    font-size: 16px;}
.alarm-title .warning_img{margin-right: 4px;}
.alarm-time{text-align: right; color: #999; display: block; height: 28px; line-height: 28px;}

.alarm .description{font-size: 18px; line-height: 34px; padding: 20px 0;}
.alarm .alarm-title{font-size: 18px; font-weight: bold;}
.alarm .alarm-effective{font-size: 14px; margin-top: 40px;}
#fmeans-table{margin-top: 30px;}
#fmeans-table tr th{font-size: 16px; line-height: 34px; font-weight: bold;}
#fmeans-table tr td{font-size: 16px; line-height: 34px;}


/**单站城市预报**/
.city_real{background: url("/static/img/weather_bg.jpg") no-repeat; height: 330px; color: #fff; padding: 20px 40px;}
.city_real #cityPosition button{background: transparent; border: 0; font-size: 28px;}
.city_real #cityPosition .dropdown {margin-left: 20px; margin-right: 20px;}
.city_real #cityPosition .split-line{height: 38px; line-height: 38px;}
.city_real div{color: #fff;}
.city_real .icon-weizhi{font-size: 34px; color: #fff;}
.city_real #city_real_temp{font-size: 120px; color: #fff; height: 200px; line-height: 200px; text-align: center;}
.city_real #city_real_temp sup{font-size: 38px; top: -65px; }
.city_real .real_item div{color: #fff; font-size: 24px;}
.city_real .real_item i{font-size: 26px;}
#temperature {position: relative; display: inline-block;}
#temperature .alarm{position: absolute; right: -32px; font-size: 14px; bottom: 50px; line-height: normal;}
#temperature .alarm a{display: block;}
.RED{background-color: #c30e21; }
.ORANGE{background-color: #ff9a00; }
.YELLOW{background-color: #fff001; }
.BLUE{background-color: #1353a4; }

.real_item{overflow: hidden; margin: 0 auto; text-align: center;}
.real_item li{display:inline-block; color: #fff; list-style: none; font-size: 24px; margin-right: 40px;}
.real_item li:last-child{margin-right: 0;}

.province-select li{height: 26px; line-height: 26px; padding: 0 10px; cursor: pointer;}
.province-select li:hover{background-color: #15618c; color: #fff;}

.type-select li{height: 26px; line-height: 26px; padding: 0 10px; cursor: pointer;}
.type-select li:hover{background-color: #15618c; color: #fff;}

.days{padding: 15px 14px; background-color: #f9f9f9; border-bottom: 1px solid #ccc;}
.days .day{float: left; width: 120px;text-align: center; cursor: pointer; padding: 10px 0 10px 0;}
.days.type1 .day{width: 140px;}
.days .day .day-item{padding: 2px 0; position: relative;}
.days .day .day-item img{width: 38px; height: 38px;}
.days .day .day-item.dayicon, .days .day .day-item.nighticon{height: 48px;}
.days .day .day-item.dayicon img{background-color: #50aadf; border-radius: 3px;}
.wicon img {width: 28px; height: 28px; background-color: #50aadf; border-radius: 3px;}
.days .day .day-item.nighticon img{background-color: #155588; border-radius: 3px;}
.days .day .day-item.bardiv{height: 100px; margin: 30px 0;}
.days .day .day-item .bar{width: 10px; margin: 0 auto; background-color: #eae213; border-radius: 5px; position: absolute; top: 0; bottom: 0; left: 54px;}
.days.type1 .day .day-item .bar{left:64px;}
.days .day .day-item .bar .high{top: -24px; position: absolute; width: 65px; left:-27px; text-align: center;}
.days .day .day-item .bar .low{bottom: -24px; position: absolute; width: 65px; left:-27px; text-align: center;}
.days .day.actived, .days .day:hover{ border: 1px solid #ccc; border-top: 3px solid #3873b9; background-color: #fff;  padding: 7px 0 11px 0; border-bottom: 0; margin-bottom: -1px; margin-left: -1px;}
.days.type1 .day.actived, .days.type1 .day:hover{border-bottom: 1px solid #ccc;}
.nohour .day{border-right: 1px solid #ccc;}
.nohour .day.actived, .nohour .day:hover{border: 1px solid #ccc; border-left: 0; border-top: 0; border-bottom: 0;}
.nohour .day.actived:first-child{border-left: 1px solid #ccc;}

.hour-table{width: 100%; border-collapse: collapse;}
.hour-table tr td{border-bottom: 1px solid #ccc; padding: 10px; text-align: center;}
.hour-table tr td i{width: 25px; display: inline-block;}
.hour-table tr:last-child td{border-bottom: 0;}
/**单站城市预报**/

.footer{background-color: #f1f1f1; margin-top: 15px; border-top: 4px solid #4078ac;}
.footer .dcs{float: left;}
.footer .content{float: left;}
.footer .content p{color: #666; padding-bottom: 2px;}
.copyright{height: 60px; line-height: 60px; background-color: #163262; color: #e4e4e4;}
.copyright div{color: #e4e4e4;}
.copyright div a{color: #e4e4e4;}

.footer-header{padding-left: 10px; color: #333; font-size: 16px; margin-bottom: 22px;}
.footer .f_left{float: left; width: 400px;}
.footer .f_right{float: right; width: 528px;}
.footer .links li{float: left; margin-bottom: 10px; margin-left: 10px;}
.footer .links li a{display: block; height: 30px; line-height:30px; width: 120px; background-color: #fff; border: 1px solid #ddd; text-align: center;}
.footer .links li a:hover{background-color: #204395; color: #fff;}

.my_city{background:url('../img/index_mycity_bg.png') no-repeat center;width:100%;height:280px;margin:10px auto;color:#fff; background-size: cover; margin-top: 0;}
.city_name{height:60px;line-height:60px;color:#fff;text-align:center;font-size:18px;}
.city_name > .col-lg-4{font-size:24px;}
.city_name > .col-lg-8{text-align:left;}
.city_name > div, .temperatrue,.city_detail > div{color:#fff;}
.city_name > div > i{margin-right:5px;font-size:20px;}
.city_detail > div > div.row{height:30px;color:#fff;line-height:30px;}
.city_detail > div > div.row > i{display:inline-block;font-size:18px;}
.temperatrue{height:100px; font-size:76px; line-height:100px; margin-bottom: 15px; text-align:center; position: relative;}
.temperatrue sup{font-size: 24px; top: -40px; left:10px; font-weight: normal;}
.temperatrue .alarm{position: absolute; left: 45px; top: 20px; font-size: 14px; line-height: normal;}
.temperatrue .alarm a{display: block; }

/*首页7天预报*/
#current-station{font-size: 16px; display: block; overflow: hidden;}
#day7Div{overflow: hidden; padding: 0;}
#day7Div .day-item{float: left; text-align: center; border-left: 1px solid rgba(255,255,255,0.1);}
#day7Div .day-item div{color: #fff; height: 42px; line-height: 42px;}
#day7Div .day-item div.day-icon{height: 45px; line-height: 45px;}
#day7Div .day-item div.day-date{height: 64px; line-height: 24px; padding: 8px 0;}
#day7Div .day-item.today,#day7Div .day-item:hover{background:url('../img/my_city_today.png') no-repeat center; background-size: cover;}
#day7Div .day-item img{width: 45px; height: 45px;}
/*首页7天预报*/

.city_detail{height:110px;line-height:110px;text-align:center;padding:0 30px;}
.seven_day > div{height:280px;text-align:center;padding:10px 0;color:#fff;}
.seven_day > div.today, .seven_day > div:hover{background:url('../img/my_city_today.png') no-repeat center; background-size: cover;}
.seven_day > div > div {color:#fff; height:36px;line-height:36px;}
.seven_day > div > div.day-date{height: 50px; line-height: 25px; margin-bottom: 10px;}
.seven_day > div > div.day-icon{height: 45px; line-height: 45px;}
.seven_day > div > div.day-icon img{height: 100%; padding: 5px;}

.mapToolbar {position: absolute;right: 10px;top: 10px;z-index: 999999;}
.marker-weather{width: 90px;
    height: 35px;
    line-height: 35px;
    background-color: #fff;
    text-align:center;
    overflow: hidden;
    border: 1px #aeaeae solid;}
.marker-weather img {
    height: 26px;
    width: 26px;
}
.weather-icon{line-height: 35px; height:35px; width: 30px; float: left; background-color: #4989c6; background-position: center; background-size: 30px;}
.city_info{float: left;text-align: center; position:relative;}
.city_info span{display:inline-block;width:60px;height:17.5px;line-height:17.5px;position:absolute;text-align:center;border-left: 1px #aeaeae solid;}
.city_info span.left{top:0px;left:0px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.city_info span.right{top:17.5px;left:0px;}
.marker-weather .day{float: left; width: 26px; height: 26px; line-height: 26px;}
.marker-weather .night{float: left; width: 26px; height: 26px; line-height: 26px;}
.mypopup .popup-title{font-size: 16px; border-bottom: 1px solid #eee; padding: 10px 0; margin: 0 10px;}
.mypopup .popup-content .remark{font-weight: bold; color: #333;}
.mypopup .dayTable{width: 320px;}
.mypopup .dayTable .day,.mypopup .dayTable .tomorrow{width: 150px;}