{% extends "tmp.html" %}
{% load static %}

{% block mapstyle%}
<link rel="stylesheet" href="{% static AppVite.css%}">

{% endblock%}
{% block content%}
    <div class="row mt15">
        <div class="col-xs-3">
            <div class="hp nav-menu">
                <div class="hd text-center" style="height:60px; line-height:60px;">
                 气象公报
                </div>
                <div class="hb">
                    {% for tid, title in titles %}
                        <a href="{{ tid }}" target="_self" {% if tid == msg_index %}class="actived"{% endif %}>
                            {{ title }}
                        </a>
                    {% endfor %}
                </div>
               </div>
        </div>
        {{ bulletin.content|safe }}
    </div>
{#    {% include "bulletin.html"%}#}
{% endblock %}