{% extends "tmp.html" %}
{% load static %}


{% block content %}
    <div class="container">
        <div class="col-xs-12">
            {% include "view_weather.html" %}
        </div>
        {% include "city_weather_from_web.html" %}
    </div>
{% endblock %}

{% block script %}
    <script>
	$(function(){
		$('.dropdown-toggle').dropdownHover();
		
		$("#searchInput").autocomplete('/api/autocomplete', {
			width: 345,
			max: 10,
			scroll: true,
			scrollHeight: 400,
			matchCase:true,
			parse:function(rows){
				var parsed = [];
				for (var i=0; i < rows.data.length; i++) {
					var row = rows.data[i];
					if (row) {
						parsed[parsed.length] = {
							data: row,
							value: row.split('|')[0]
						};
					}
				}
				return parsed;
			},
			focusEvent:function(input, event){
				var v = $(input).val();
				if(v == ''){
					$('#selectCityDiv').show();
				} else {
					$('#selectCityDiv').hide();
				}
			},
			formatItem: function(row) {
				$('#selectCityDiv').hide();
				var arr = row.split('|');
				return '<div class="row-fluid"><div class="pull-left">' + arr[1] + '</div><div class="pull-right">' + arr[3] + '</div></div>';
			}
		}).result(function(event, row, formatted) {
			var arr = row.split('|');
			$("#searchInput").val(arr[1]);
			window.location.href = '/weather/' + arr[0] + '.html';
		});
		
		$(document).click(function(e){
			var obj = $(e.srcElement || e.target);
			var c = obj.attr('class') || null;
			var id = obj.attr('id') || null;
			console.log(c)
			console.log(id)
			if((c != null && c.indexOf('tabflag') > -1) || (id != null && (id === 'selectCityDiv' || id === 'searchInput'))) {
				return true;
			} else {
				$('#selectCityDiv').hide();
			}
		});
	});
    </script>
    <script>
		$(function() {
			// 点击逐日预报时，在下方显示对应的精细化预报
			$('#dayList > div.day').click(function(){
				$('#hourTable_' + $(this).index()).show().siblings().hide();
				$(this).addClass('actived').siblings().removeClass('actived');
			});
			
			CMA.init();
			
			// 显示站点天气实况
			CMA.getNow('53463');
			
			$("#hourValues").mCustomScrollbar({
				theme:"dark-3",
			    horizontalScroll:true
			});
			
			// 显示站点气候背景
			$.getJSON('/api/climate',{stationid: '53463'}, function(ret) {
				if(ret.data.length == 0) {
					return;
				}
				$('#myChart').parent().show();
				$('#climateWrap').show();
				var xAxisData = [];
				var maxTempData = [];
				var minTempData = [];
				var rainfallData = [];
				var dateb = ret.data.beginYear;
				var datee = ret.data.endYear;
				for(var i = 0; i < ret.data.data.length; i++){
					var d = ret.data.data[i];
					xAxisData.push(d.month + '月');
					maxTempData.push(d.maxTemp);
					minTempData.push(d.minTemp);
					rainfallData.push(d.rainfall >= 9999 ? null : d.rainfall);
				}
				Weather.initChart('呼和浩特)', dateb, datee, maxTempData, minTempData, rainfallData, xAxisData);
			});
			
			$.getJSON('/api/jingdian/weather?pcode=ANM', function(res){
				var html = [];
				for(var i = 0; i < res.data.length; i++){
					var d = res.data[i];
					
					html.push('<a href="/web/weather/' + d.location.stationId + '.html" class="report-item" style="margin-bottom:5px;">');
					html.push('	<div style="color:#1261ad; padding-bottom:5px; font-weight:bold;">' + d.location.name + '</div>');
					html.push('	<div class="row">');
					html.push('	    <div class="col-xs-8">' + (d.weather.dayText == d.weather.nightText ? d.weather.dayText : (d.weather.dayText + '转' + d.weather.nightText)) + '</div>');
					html.push('	    <div class="col-xs-4">' + (d.weather.high + '/' + d.weather.low) + '℃</div>');
					html.push('	</div>');
					html.push('</a>');
				}
				
				if(res.data.length > 0) {
					$('#jingdianWrap').html(html.join(''));
					$('#jingdian').show();
				}
				
			});
		});
	</script>
{% endblock %}
