<div class="row">
				<div class="col-xs-12">
					<div class="city_real" style="">
						<div class="row">
							<div class="col-xs-8" id="cityPosition">
								<i class="iconfont icon-weizhi pull-left"></i>
								<div class="dropdown pull-left">
									<button type="button" data-toggle="dropdown"><span>&#22269;&#20869;</span> <span class="caret"></span></button>
									<ul class="dropdown-menu type-select" style="max-height:270px;overflow-y: scroll;">
<li data-value="0">&#22269;&#20869;</li>
<li data-value="1">&#22269;&#22806;</li>
</ul>
								</div>
								<div class="pull-left split-line">|</div>
									<div class="dropdown pull-left">
										<button type="button" data-toggle="dropdown"><span>&#24191;&#35199;</span> <span class="caret"></span></button>
										<ul class="dropdown-menu province-select" style="max-height:270px;overflow-y: scroll;">
<li data-value="ABJ">&#21271;&#20140;&#24066;</li>
<li data-value="ATJ">&#22825;&#27941;&#24066;</li>
<li data-value="AHE">&#27827;&#21271;&#30465;</li>
<li data-value="ASX">&#23665;&#35199;&#30465;</li>
<li data-value="ANM">&#20869;&#33945;&#21476;&#33258;&#27835;&#21306;</li>
<li data-value="ALN">&#36797;&#23425;&#30465;</li>
<li data-value="AJL">&#21513;&#26519;&#30465;</li>
<li data-value="AHL">&#40657;&#40857;&#27743;&#30465;</li>
<li data-value="ASH">&#19978;&#28023;&#24066;</li>
<li data-value="AJS">&#27743;&#33487;&#30465;</li>
<li data-value="AZJ">&#27993;&#27743;&#30465;</li>
<li data-value="AAH">&#23433;&#24509;&#30465;</li>
<li data-value="AFJ">&#31119;&#24314;&#30465;</li>
<li data-value="AJX">&#27743;&#35199;&#30465;</li>
<li data-value="ASD">&#23665;&#19996;&#30465;</li>
<li data-value="AHA">&#27827;&#21335;&#30465;</li>
<li data-value="AHB">&#28246;&#21271;&#30465;</li>
<li data-value="AHN">&#28246;&#21335;&#30465;</li>
<li data-value="AGD">&#24191;&#19996;&#30465;</li>
<li data-value="AGX">&#24191;&#35199;&#22766;&#26063;&#33258;&#27835;&#21306;</li>
<li data-value="AHI">&#28023;&#21335;&#30465;</li>
<li data-value="ACQ">&#37325;&#24198;&#24066;</li>
<li data-value="ASC">&#22235;&#24029;&#30465;</li>
<li data-value="AGZ">&#36149;&#24030;&#30465;</li>
<li data-value="AYN">&#20113;&#21335;&#30465;</li>
<li data-value="AXZ">&#35199;&#34255;&#33258;&#27835;&#21306;</li>
<li data-value="ASN">&#38485;&#35199;&#30465;</li>
<li data-value="AGS">&#29976;&#32899;&#30465;</li>
<li data-value="AQH">&#38738;&#28023;&#30465;</li>
<li data-value="ANX">&#23425;&#22799;&#22238;&#26063;&#33258;&#27835;&#21306;</li>
<li data-value="AXJ">&#26032;&#30086;&#32500;&#21566;&#23572;&#33258;&#27835;&#21306;</li>
<li data-value="AXG">&#39321;&#28207;&#29305;&#21035;&#34892;&#25919;&#21306;</li>
<li data-value="AAM">&#28595;&#38376;&#29305;&#21035;&#34892;&#25919;&#21306;</li>
<li data-value="ATW">&#21488;&#28286;&#30465;</li>
</ul>
									</div>
								<div class="pull-left split-line">|</div>
								<div class="dropdown pull-left">
									<button type="button" data-toggle="dropdown">&#21335;&#23425; <span class="caret"></span></button>
									<ul class="dropdown-menu station-select" style="max-height:270px;overflow-y: scroll;">
<li><a href="/web/weather/N1520.html">&#21335;&#23425;&#22478;&#21306;</a></li>
<li><a href="/web/weather/N2280.html">&#26611;&#24030;</a></li>
<li><a href="/web/weather/N4094.html">&#33485;&#26791;</a></li>
<li><a href="/web/weather/59431.html">&#21335;&#23425;</a></li>
<li><a href="/web/weather/59644.html">&#21271;&#28023;</a></li>
<li><a href="/web/weather/59425.html">&#23815;&#24038;</a></li>
<li><a href="/web/weather/59242.html">&#26469;&#23486;</a></li>
<li><a href="/web/weather/57957.html">&#26690;&#26519;</a></li>
<li><a href="/web/weather/59265.html">&#26791;&#24030;</a></li>
<li><a href="/web/weather/59023.html">&#27827;&#27744;</a></li>
<li><a href="/web/weather/59453.html">&#29577;&#26519;</a></li>
<li><a href="/web/weather/59213.html">&#30000;&#38451;</a></li>
<li><a href="/web/weather/59211.html">&#30334;&#33394;</a></li>
<li><a href="/web/weather/59249.html">&#36149;&#28207;</a></li>
<li><a href="/web/weather/59065.html">&#36154;&#24030;</a></li>
<li><a href="/web/weather/59632.html">&#38054;&#24030;</a></li>
<li><a href="/web/weather/59635.html">&#38450;&#22478;&#28207;</a></li>
<li><a href="/web/weather/57941.html">&#19977;&#27743;</a></li>
<li><a href="/web/weather/59429.html">&#19978;&#24605;</a></li>
<li><a href="/web/weather/59235.html">&#19978;&#26519;</a></li>
<li><a href="/web/weather/59025.html">&#19996;&#20848;</a></li>
<li><a href="/web/weather/59626.html">&#19996;&#20852;</a></li>
<li><a href="/web/weather/57954.html">&#20020;&#26690;</a></li>
<li><a href="/web/weather/59012.html">&#20048;&#19994;</a></li>
<li><a href="/web/weather/57960.html">&#20840;&#24030;</a></li>
<li><a href="/web/weather/57955.html">&#20852;&#23433;</a></li>
<li><a href="/web/weather/59015.html">&#20940;&#20113;</a></li>
<li><a href="/web/weather/59021.html">&#20964;&#23665;</a></li>
<li><a href="/web/weather/59419.html">&#20973;&#31077;</a></li>
<li><a href="/web/weather/59451.html">&#21271;&#27969;</a></li>
<li><a href="/web/weather/59022.html">&#21335;&#20025;</a></li>
<li><a href="/web/weather/59449.html">&#21338;&#30333;</a></li>
<li><a href="/web/weather/59640.html">&#21512;&#28006;</a></li>
<li><a href="/web/weather/59421.html">&#22823;&#26032;</a></li>
<li><a href="/web/weather/57927.html">&#22825;&#23784;</a></li>
<li><a href="/web/weather/59227.html">&#22825;&#31561;</a></li>
<li><a href="/web/weather/59427.html">&#23425;&#26126;</a></li>
<li><a href="/web/weather/59034.html">&#23452;&#24030;</a></li>
<li><a href="/web/weather/59452.html">&#23481;&#21439;</a></li>
<li><a href="/web/weather/59238.html">&#23486;&#38451;</a></li>
<li><a href="/web/weather/59061.html">&#23500;&#24029;</a></li>
<li><a href="/web/weather/59454.html">&#23697;&#28330;</a></li>
<li><a href="/web/weather/59027.html">&#24052;&#39532;</a></li>
<li><a href="/web/weather/59053.html">&#24179;&#20048;</a></li>
<li><a href="/web/weather/59255.html">&#24179;&#21335;</a></li>
<li><a href="/web/weather/59228.html">&#24179;&#26524;</a></li>
<li><a href="/web/weather/59215.html">&#24503;&#20445;</a></li>
<li><a href="/web/weather/59038.html">&#24571;&#22478;</a></li>
<li><a href="/web/weather/59052.html">&#24685;&#22478;</a></li>
<li><a href="/web/weather/59426.html">&#25206;&#32485;</a></li>
<li><a href="/web/weather/59059.html">&#26157;&#24179;</a></li>
<li><a href="/web/weather/59041.html">&#26611;&#22478;</a></li>
<li><a href="/web/weather/59047.html">&#26611;&#27743;</a></li>
<li><a href="/web/weather/59254.html">&#26690;&#24179;</a></li>
<li><a href="/web/weather/59441.html">&#27178;&#24030;</a></li>
<li><a href="/web/weather/59246.html">&#27494;&#23459;</a></li>
<li><a href="/web/weather/59237.html">&#27494;&#40483;</a></li>
<li><a href="/web/weather/57949.html">&#27704;&#31119;</a></li>
<li><a href="/web/weather/59448.html">&#28006;&#21271;</a></li>
<li><a href="/web/weather/59647.html">&#28064;&#27954;&#23707;</a></li>
<li><a href="/web/weather/57964.html">&#28748;&#38451;</a></li>
<li><a href="/web/weather/59446.html">&#28789;&#23665;</a></li>
<li><a href="/web/weather/57956.html">&#28789;&#24029;</a></li>
<li><a href="/web/weather/59031.html">&#29615;&#27743;</a></li>
<li><a href="/web/weather/59224.html">&#30000;&#19996;</a></li>
<li><a href="/web/weather/59017.html">&#30000;&#26519;</a></li>
<li><a href="/web/weather/59033.html">&#32599;&#22478;</a></li>
<li><a href="/web/weather/59055.html">&#33620;&#28006;</a></li>
<li><a href="/web/weather/59058.html">&#33945;&#23665;</a></li>
<li><a href="/web/weather/59256.html">&#34276;&#21439;</a></li>
<li><a href="/web/weather/57947.html">&#34701;&#23433;</a></li>
<li><a href="/web/weather/57948.html">&#34701;&#27700;</a></li>
<li><a href="/web/weather/59004.html">&#35199;&#26519;</a></li>
<li><a href="/web/weather/59241.html">&#35937;&#24030;</a></li>
<li><a href="/web/weather/57859.html">&#36164;&#28304;</a></li>
<li><a href="/web/weather/59435.html">&#37013;&#23425;</a></li>
<li><a href="/web/weather/59209.html">&#37027;&#22369;</a></li>
<li><a href="/web/weather/59037.html">&#37117;&#23433;</a></li>
<li><a href="/web/weather/59057.html">&#37329;&#31168;</a></li>
<li><a href="/web/weather/59064.html">&#38047;&#23665;</a></li>
<li><a href="/web/weather/59631.html">&#38450;&#22478;</a></li>
<li><a href="/web/weather/59051.html">&#38451;&#26388;</a></li>
<li><a href="/web/weather/59457.html">&#38470;&#24029;</a></li>
<li><a href="/web/weather/59229.html">&#38534;&#23433;</a></li>
<li><a href="/web/weather/59001.html">&#38534;&#26519;</a></li>
<li><a href="/web/weather/59218.html">&#38742;&#35199;</a></li>
<li><a href="/web/weather/59230.html">&#39532;&#23665;</a></li>
<li><a href="/web/weather/59045.html">&#40575;&#23528;</a></li>
<li><a href="/web/weather/59266.html">&#40857;&#22313;</a></li>
<li><a href="/web/weather/59417.html">&#40857;&#24030;</a></li>
<li><a href="/web/weather/57942.html">&#40857;&#32988;</a></li>
</ul>
								</div>
							</div>
							<div class="col-xs-4 text-right " id="pubtime">&#26356;&#26032;</div>
						</div>
						<div id="city_real_temp" class="">
							<span id="temperature">&#160;</span>
						</div>
						
						<ul class="real_item ">
							<li>
<i class="iconfont icon-qiya"></i> <span id="pressure">&#160;</span>
</li>
							<li>
<i class="iconfont icon-humidity"></i> <span id="humidity">&#160;</span>
</li>
							<li>
<i class="iconfont icon-jiangshuiliang"></i> <span id="precipitation">&#160;</span>
</li>
							<li>
<i class="iconfont icon-Windpower"></i> <span id="wind">&#160;</span>
</li>
						</ul>
						
					</div>
				</div>
			</div>
			
			
			
