<div class="row">
				<div class="col-xs-12">
					<div class="city_real" style="">
						<div class="row">
							<div class="col-xs-8" id="cityPosition">
								<i class="iconfont icon-weizhi pull-left"></i>
								<div class="dropdown pull-left">
									<button type="button" data-toggle="dropdown"><span>&#22269;&#20869;</span> <span class="caret"></span></button>
									<ul class="dropdown-menu type-select" style="max-height:270px;overflow-y: scroll;">
<li data-value="0">&#22269;&#20869;</li>
<li data-value="1">&#22269;&#22806;</li>
</ul>
								</div>
								<div class="pull-left split-line">|</div>
									<div class="dropdown pull-left">
										<button type="button" data-toggle="dropdown"><span>&#27993;&#27743;</span> <span class="caret"></span></button>
										<ul class="dropdown-menu province-select" style="max-height:270px;overflow-y: scroll;">
<li data-value="ABJ">&#21271;&#20140;&#24066;</li>
<li data-value="ATJ">&#22825;&#27941;&#24066;</li>
<li data-value="AHE">&#27827;&#21271;&#30465;</li>
<li data-value="ASX">&#23665;&#35199;&#30465;</li>
<li data-value="ANM">&#20869;&#33945;&#21476;&#33258;&#27835;&#21306;</li>
<li data-value="ALN">&#36797;&#23425;&#30465;</li>
<li data-value="AJL">&#21513;&#26519;&#30465;</li>
<li data-value="AHL">&#40657;&#40857;&#27743;&#30465;</li>
<li data-value="ASH">&#19978;&#28023;&#24066;</li>
<li data-value="AJS">&#27743;&#33487;&#30465;</li>
<li data-value="AZJ">&#27993;&#27743;&#30465;</li>
<li data-value="AAH">&#23433;&#24509;&#30465;</li>
<li data-value="AFJ">&#31119;&#24314;&#30465;</li>
<li data-value="AJX">&#27743;&#35199;&#30465;</li>
<li data-value="ASD">&#23665;&#19996;&#30465;</li>
<li data-value="AHA">&#27827;&#21335;&#30465;</li>
<li data-value="AHB">&#28246;&#21271;&#30465;</li>
<li data-value="AHN">&#28246;&#21335;&#30465;</li>
<li data-value="AGD">&#24191;&#19996;&#30465;</li>
<li data-value="AGX">&#24191;&#35199;&#22766;&#26063;&#33258;&#27835;&#21306;</li>
<li data-value="AHI">&#28023;&#21335;&#30465;</li>
<li data-value="ACQ">&#37325;&#24198;&#24066;</li>
<li data-value="ASC">&#22235;&#24029;&#30465;</li>
<li data-value="AGZ">&#36149;&#24030;&#30465;</li>
<li data-value="AYN">&#20113;&#21335;&#30465;</li>
<li data-value="AXZ">&#35199;&#34255;&#33258;&#27835;&#21306;</li>
<li data-value="ASN">&#38485;&#35199;&#30465;</li>
<li data-value="AGS">&#29976;&#32899;&#30465;</li>
<li data-value="AQH">&#38738;&#28023;&#30465;</li>
<li data-value="ANX">&#23425;&#22799;&#22238;&#26063;&#33258;&#27835;&#21306;</li>
<li data-value="AXJ">&#26032;&#30086;&#32500;&#21566;&#23572;&#33258;&#27835;&#21306;</li>
<li data-value="AXG">&#39321;&#28207;&#29305;&#21035;&#34892;&#25919;&#21306;</li>
<li data-value="AAM">&#28595;&#38376;&#29305;&#21035;&#34892;&#25919;&#21306;</li>
<li data-value="ATW">&#21488;&#28286;&#30465;</li>
</ul>
									</div>
								<div class="pull-left split-line">|</div>
								<div class="dropdown pull-left">
									<button type="button" data-toggle="dropdown">&#28147;&#23433; <span class="caret"></span></button>
									<ul class="dropdown-menu station-select" style="max-height:270px;overflow-y: scroll;">
<li><a href="/web/weather/K1418.html">&#20313;&#26477;</a></li>
<li><a href="/web/weather/K5004.html">&#21335;&#27988;</a></li>
<li><a href="/web/weather/K3283.html">&#24179;&#38451;</a></li>
<li><a href="/web/weather/K5079.html">&#24503;&#28165;</a></li>
<li><a href="/web/weather/K2214.html">&#27743;&#21271;</a></li>
<li><a href="/web/weather/K2158.html">&#28023;&#26329;</a></li>
<li><a href="/web/weather/K5454.html">&#28246;&#24030;</a></li>
<li><a href="/web/weather/K8505.html">&#29577;&#29615;</a></li>
<li><a href="/web/weather/K3248.html">&#33485;&#21335;</a></li>
<li><a href="/web/weather/K7504.html">&#34914;&#27743;</a></li>
<li><a href="/web/weather/K2953.html">&#35937;&#23665;</a></li>
<li><a href="/web/weather/K8301.html">&#36335;&#26725;</a></li>
<li><a href="/web/weather/K1213.html">&#38065;&#22616;</a></li>
<li><a href="/web/weather/58661.html">&#40644;&#23721;</a></li>
<li><a href="/web/weather/K3269.html">&#40857;&#28207;</a></li>
<li><a href="/web/weather/58457.html">&#26477;&#24030;</a></li>
<li><a href="/web/weather/58448.html">&#20020;&#23433;</a></li>
<li><a href="/web/weather/58660.html">&#20020;&#28023;</a></li>
<li><a href="/web/weather/58646.html">&#20029;&#27700;</a></li>
<li><a href="/web/weather/58452.html">&#22025;&#20852;</a></li>
<li><a href="/web/weather/58562.html">&#23425;&#27874;</a></li>
<li><a href="/web/weather/58567.html">&#23425;&#28023;</a></li>
<li><a href="/web/weather/58477.html">&#23450;&#28023;</a></li>
<li><a href="/web/weather/58556.html">&#23882;&#24030;</a></li>
<li><a href="/web/weather/58464.html">&#24179;&#28246;</a></li>
<li><a href="/web/weather/58453.html">&#26607;&#26725;</a></li>
<li><a href="/web/weather/58760.html">&#27934;&#22836;</a></li>
<li><a href="/web/weather/58659.html">&#28201;&#24030;</a></li>
<li><a href="/web/weather/58477.html">&#33311;&#23665;</a></li>
<li><a href="/web/weather/58646.html">&#33714;&#37117;</a></li>
<li><a href="/web/weather/58633.html">&#34914;&#24030;</a></li>
<li><a href="/web/weather/58562.html">&#37150;&#24030;</a></li>
<li><a href="/web/weather/58549.html">&#37329;&#21326;</a></li>
<li><a href="/web/weather/58568.html">&#19977;&#38376;</a></li>
<li><a href="/web/weather/58553.html">&#19978;&#34398;</a></li>
<li><a href="/web/weather/58558.html">&#19996;&#38451;</a></li>
<li><a href="/web/weather/58444.html">&#20020;&#24179;</a></li>
<li><a href="/web/weather/58557.html">&#20041;&#20044;</a></li>
<li><a href="/web/weather/58656.html">&#20048;&#28165;</a></li>
<li><a href="/web/weather/58742.html">&#20113;&#21644;</a></li>
<li><a href="/web/weather/58652.html">&#20185;&#23621;</a></li>
<li><a href="/web/weather/58468.html">&#20313;&#23002;</a></li>
<li><a href="/web/weather/58548.html">&#20848;&#28330;</a></li>
<li><a href="/web/weather/58563.html">&#21271;&#20177;</a></li>
<li><a href="/web/weather/58665.html">&#21488;&#24030;</a></li>
<li><a href="/web/weather/58451.html">&#22025;&#21892;</a></li>
<li><a href="/web/weather/58559.html">&#22825;&#21488;</a></li>
<li><a href="/web/weather/58565.html">&#22857;&#21270;</a></li>
<li><a href="/web/weather/58446.html">&#23433;&#21513;</a></li>
<li><a href="/web/weather/58449.html">&#23500;&#38451;</a></li>
<li><a href="/web/weather/58484.html">&#23729;&#23665;</a></li>
<li><a href="/web/weather/58472.html">&#23882;&#27863;</a></li>
<li><a href="/web/weather/58631.html">&#24120;&#23665;</a></li>
<li><a href="/web/weather/58745.html">&#24198;&#20803;</a></li>
<li><a href="/web/weather/58544.html">&#24314;&#24503;</a></li>
<li><a href="/web/weather/58537.html">&#24320;&#21270;</a></li>
<li><a href="/web/weather/58467.html">&#24904;&#28330;</a></li>
<li><a href="/web/weather/58750.html">&#25991;&#25104;</a></li>
<li><a href="/web/weather/58555.html">&#26032;&#26124;</a></li>
<li><a href="/web/weather/58570.html">&#26222;&#38464;</a></li>
<li><a href="/web/weather/58648.html">&#26223;&#23425;</a></li>
<li><a href="/web/weather/58645.html">&#26494;&#38451;</a></li>
<li><a href="/web/weather/58456.html">&#26704;&#20065;</a></li>
<li><a href="/web/weather/58542.html">&#26704;&#24208;</a></li>
<li><a href="/web/weather/58665.html">&#26898;&#27743;</a></li>
<li><a href="/web/weather/58642.html">&#27494;&#20041;</a></li>
<li><a href="/web/weather/58658.html">&#27704;&#22025;</a></li>
<li><a href="/web/weather/58643.html">&#27704;&#24247;</a></li>
<li><a href="/web/weather/58632.html">&#27743;&#23665;</a></li>
<li><a href="/web/weather/58746.html">&#27888;&#39034;</a></li>
<li><a href="/web/weather/58546.html">&#28006;&#27743;</a></li>
<li><a href="/web/weather/58455.html">&#28023;&#23425;</a></li>
<li><a href="/web/weather/58458.html">&#28023;&#30416;</a></li>
<li><a href="/web/weather/58543.html">&#28147;&#23433;</a></li>
<li><a href="/web/weather/58664.html">&#28201;&#23725;</a></li>
<li><a href="/web/weather/58752.html">&#29790;&#23433;</a></li>
<li><a href="/web/weather/58560.html">&#30928;&#23433;</a></li>
<li><a href="/web/weather/K4026.html">&#32461;&#20852;</a></li>
<li><a href="/web/weather/58654.html">&#32537;&#20113;</a></li>
<li><a href="/web/weather/58459.html">&#33831;&#23665;</a></li>
<li><a href="/web/weather/58550.html">&#35832;&#26280;</a></li>
<li><a href="/web/weather/58644.html">&#36930;&#26124;</a></li>
<li><a href="/web/weather/58561.html">&#38215;&#28023;</a></li>
<li><a href="/web/weather/58443.html">&#38271;&#20852;</a></li>
<li><a href="/web/weather/58657.html">&#38738;&#30000;</a></li>
<li><a href="/web/weather/58647.html">&#40857;&#27849;</a></li>
<li><a href="/web/weather/58547.html">&#40857;&#28216;</a></li>
</ul>
								</div>
							</div>
							<div class="col-xs-4 text-right " id="pubtime">&#26356;&#26032;</div>
						</div>
						<div id="city_real_temp" class="">
							<span id="temperature">&#160;</span>
						</div>
						
						<ul class="real_item ">
							<li>
<i class="iconfont icon-qiya"></i> <span id="pressure">&#160;</span>
</li>
							<li>
<i class="iconfont icon-humidity"></i> <span id="humidity">&#160;</span>
</li>
							<li>
<i class="iconfont icon-jiangshuiliang"></i> <span id="precipitation">&#160;</span>
</li>
							<li>
<i class="iconfont icon-Windpower"></i> <span id="wind">&#160;</span>
</li>
						</ul>
						
					</div>
				</div>
			</div>
			
			
			
