<div class="row">
				<div class="col-xs-12">
					<div class="city_real" style="">
						<div class="row">
							<div class="col-xs-8" id="cityPosition">
								<i class="iconfont icon-weizhi pull-left"></i>
								<div class="dropdown pull-left">
									<button type="button" data-toggle="dropdown"><span>&#22269;&#20869;</span> <span class="caret"></span></button>
									<ul class="dropdown-menu type-select" style="max-height:270px;overflow-y: scroll;">
<li data-value="0">&#22269;&#20869;</li>
<li data-value="1">&#22269;&#22806;</li>
</ul>
								</div>
								<div class="pull-left split-line">|</div>
									<div class="dropdown pull-left">
										<button type="button" data-toggle="dropdown"><span>&#31119;&#24314;</span> <span class="caret"></span></button>
										<ul class="dropdown-menu province-select" style="max-height:270px;overflow-y: scroll;">
<li data-value="ABJ">&#21271;&#20140;&#24066;</li>
<li data-value="ATJ">&#22825;&#27941;&#24066;</li>
<li data-value="AHE">&#27827;&#21271;&#30465;</li>
<li data-value="ASX">&#23665;&#35199;&#30465;</li>
<li data-value="ANM">&#20869;&#33945;&#21476;&#33258;&#27835;&#21306;</li>
<li data-value="ALN">&#36797;&#23425;&#30465;</li>
<li data-value="AJL">&#21513;&#26519;&#30465;</li>
<li data-value="AHL">&#40657;&#40857;&#27743;&#30465;</li>
<li data-value="ASH">&#19978;&#28023;&#24066;</li>
<li data-value="AJS">&#27743;&#33487;&#30465;</li>
<li data-value="AZJ">&#27993;&#27743;&#30465;</li>
<li data-value="AAH">&#23433;&#24509;&#30465;</li>
<li data-value="AFJ">&#31119;&#24314;&#30465;</li>
<li data-value="AJX">&#27743;&#35199;&#30465;</li>
<li data-value="ASD">&#23665;&#19996;&#30465;</li>
<li data-value="AHA">&#27827;&#21335;&#30465;</li>
<li data-value="AHB">&#28246;&#21271;&#30465;</li>
<li data-value="AHN">&#28246;&#21335;&#30465;</li>
<li data-value="AGD">&#24191;&#19996;&#30465;</li>
<li data-value="AGX">&#24191;&#35199;&#22766;&#26063;&#33258;&#27835;&#21306;</li>
<li data-value="AHI">&#28023;&#21335;&#30465;</li>
<li data-value="ACQ">&#37325;&#24198;&#24066;</li>
<li data-value="ASC">&#22235;&#24029;&#30465;</li>
<li data-value="AGZ">&#36149;&#24030;&#30465;</li>
<li data-value="AYN">&#20113;&#21335;&#30465;</li>
<li data-value="AXZ">&#35199;&#34255;&#33258;&#27835;&#21306;</li>
<li data-value="ASN">&#38485;&#35199;&#30465;</li>
<li data-value="AGS">&#29976;&#32899;&#30465;</li>
<li data-value="AQH">&#38738;&#28023;&#30465;</li>
<li data-value="ANX">&#23425;&#22799;&#22238;&#26063;&#33258;&#27835;&#21306;</li>
<li data-value="AXJ">&#26032;&#30086;&#32500;&#21566;&#23572;&#33258;&#27835;&#21306;</li>
<li data-value="AXG">&#39321;&#28207;&#29305;&#21035;&#34892;&#25919;&#21306;</li>
<li data-value="AAM">&#28595;&#38376;&#29305;&#21035;&#34892;&#25919;&#21306;</li>
<li data-value="ATW">&#21488;&#28286;&#30465;</li>
</ul>
									</div>
								<div class="pull-left split-line">|</div>
								<div class="dropdown pull-left">
									<button type="button" data-toggle="dropdown">&#31119;&#24030; <span class="caret"></span></button>
									<ul class="dropdown-menu station-select" style="max-height:270px;overflow-y: scroll;">
<li><a href="/web/weather/58847.html">&#31119;&#24030;</a></li>
<li><a href="/web/weather/58828.html">&#19977;&#26126;</a></li>
<li><a href="/web/weather/59134.html">&#21414;&#38376;</a></li>
<li><a href="/web/weather/58846.html">&#23425;&#24503;</a></li>
<li><a href="/web/weather/58834.html">&#24310;&#24179;</a></li>
<li><a href="/web/weather/59137.html">&#26187;&#27743;</a></li>
<li><a href="/web/weather/58731.html">&#28006;&#22478;</a></li>
<li><a href="/web/weather/59126.html">&#28467;&#24030;</a></li>
<li><a href="/web/weather/58946.html">&#33670;&#30000;</a></li>
<li><a href="/web/weather/58927.html">&#40857;&#23721;</a></li>
<li><a href="/web/weather/58918.html">&#19978;&#26477;</a></li>
<li><a href="/web/weather/59321.html">&#19996;&#23665;</a></li>
<li><a href="/web/weather/59322.html">&#20113;&#38660;</a></li>
<li><a href="/web/weather/58936.html">&#20185;&#28216;</a></li>
<li><a href="/web/weather/58724.html">&#20809;&#27901;</a></li>
<li><a href="/web/weather/58928.html">&#21326;&#23433;</a></li>
<li><a href="/web/weather/59131.html">&#21335;&#23433;</a></li>
<li><a href="/web/weather/59124.html">&#21335;&#38742;</a></li>
<li><a href="/web/weather/58836.html">&#21476;&#30000;</a></li>
<li><a href="/web/weather/59130.html">&#21516;&#23433;</a></li>
<li><a href="/web/weather/58747.html">&#21608;&#23425;</a></li>
<li><a href="/web/weather/58923.html">&#22823;&#30000;</a></li>
<li><a href="/web/weather/58818.html">&#23425;&#21270;</a></li>
<li><a href="/web/weather/58929.html">&#23433;&#28330;</a></li>
<li><a href="/web/weather/58744.html">&#23551;&#23425;</a></li>
<li><a href="/web/weather/58821.html">&#23558;&#20048;</a></li>
<li><a href="/web/weather/58837.html">&#23588;&#28330;</a></li>
<li><a href="/web/weather/58933.html">&#23631;&#21335;</a></li>
<li><a href="/web/weather/59133.html">&#23815;&#27494;</a></li>
<li><a href="/web/weather/59125.html">&#24179;&#21644;</a></li>
<li><a href="/web/weather/58944.html">&#24179;&#28525;</a></li>
<li><a href="/web/weather/58822.html">&#24314;&#23425;</a></li>
<li><a href="/web/weather/58737.html">&#24314;&#29935;</a></li>
<li><a href="/web/weather/58734.html">&#24314;&#38451;</a></li>
<li><a href="/web/weather/58935.html">&#24503;&#21270;</a></li>
<li><a href="/web/weather/58736.html">&#25919;&#21644;</a></li>
<li><a href="/web/weather/58824.html">&#26126;&#28330;</a></li>
<li><a href="/web/weather/58735.html">&#26494;&#28330;</a></li>
<li><a href="/web/weather/58749.html">&#26584;&#33635;</a></li>
<li><a href="/web/weather/58730.html">&#27494;&#22839;&#23665;</a></li>
<li><a href="/web/weather/58917.html">&#27494;&#24179;</a></li>
<li><a href="/web/weather/58921.html">&#27704;&#23433;</a></li>
<li><a href="/web/weather/59113.html">&#27704;&#23450;</a></li>
<li><a href="/web/weather/58934.html">&#27704;&#26149;</a></li>
<li><a href="/web/weather/58932.html">&#27704;&#27888;</a></li>
<li><a href="/web/weather/58826.html">&#27801;&#21439;</a></li>
<li><a href="/web/weather/59132.html">&#27849;&#24030;</a></li>
<li><a href="/web/weather/58820.html">&#27888;&#23425;</a></li>
<li><a href="/web/weather/58819.html">&#28165;&#27969;</a></li>
<li><a href="/web/weather/58926.html">&#28467;&#24179;</a></li>
<li><a href="/web/weather/59129.html">&#28467;&#28006;</a></li>
<li><a href="/web/weather/58748.html">&#31119;&#23433;</a></li>
<li><a href="/web/weather/58942.html">&#31119;&#28165;</a></li>
<li><a href="/web/weather/58754.html">&#31119;&#40718;</a></li>
<li><a href="/web/weather/58938.html">&#31168;&#23679;</a></li>
<li><a href="/web/weather/58845.html">&#32599;&#28304;</a></li>
<li><a href="/web/weather/59320.html">&#35791;&#23433;</a></li>
<li><a href="/web/weather/58912.html">&#36830;&#22478;</a></li>
<li><a href="/web/weather/58848.html">&#36830;&#27743;</a></li>
<li><a href="/web/weather/58725.html">&#37045;&#27494;</a></li>
<li><a href="/web/weather/58981.html">&#38035;&#40060;&#23707;</a></li>
<li><a href="/web/weather/58941.html">&#38271;&#20048;</a></li>
<li><a href="/web/weather/58911.html">&#38271;&#27712;</a></li>
<li><a href="/web/weather/59122.html">&#38271;&#27888;</a></li>
<li><a href="/web/weather/58844.html">&#38397;&#20399;</a></li>
<li><a href="/web/weather/58839.html">&#38397;&#28165;</a></li>
<li><a href="/web/weather/58843.html">&#38686;&#28006;</a></li>
<li><a href="/web/weather/58823.html">&#39034;&#26124;</a></li>
<li><a href="/web/weather/59127.html">&#40857;&#28023;</a></li>
</ul>
								</div>
							</div>
							<div class="col-xs-4 text-right " id="pubtime">&#26356;&#26032;</div>
						</div>
						<div id="city_real_temp" class="">
							<span id="temperature">&#160;</span>
						</div>
						
						<ul class="real_item ">
							<li>
<i class="iconfont icon-qiya"></i> <span id="pressure">&#160;</span>
</li>
							<li>
<i class="iconfont icon-humidity"></i> <span id="humidity">&#160;</span>
</li>
							<li>
<i class="iconfont icon-jiangshuiliang"></i> <span id="precipitation">&#160;</span>
</li>
							<li>
<i class="iconfont icon-Windpower"></i> <span id="wind">&#160;</span>
</li>
						</ul>
						
					</div>
				</div>
			</div>
			
			
			
